<ion-toolbar>
  <ion-title>News Feed</ion-title>
</ion-toolbar>

<ion-content fulscreen class="ion-padding">
  <ion-list class="bg-transparent" *ngIf="posts.length > 0; else noPosts">
    <ion-item color="none" lines="none" *ngFor="let post of posts">
      <div class="item-container ">
        <app-post [content]="post.content" [photoUrl]="post.photoUrl"></app-post>
      </div>
    </ion-item>
  </ion-list>
</ion-content>
<ion-footer collapse="fade">
  <ion-toolbar>
    <ion-buttons class="ion-text-center buttons-container">
      <ion-button color="primary" fill="clear">
        <ion-icon slot="icon-only" name="add-circle-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>

<ng-template #noPosts>
  <div class="no-posts">
    <p>No posts found</p>
    <img class="w-25" src="../assets/img/no-posts.png">
  </div>
</ng-template>