<ion-card>
  <ion-buttons>
    <ion-button color="secondary" (click)="editPost()">
      <ion-icon slot="icon-only" name="create-outline"></ion-icon>
    </ion-button>
    <ion-button color="secondary" (click)="delete()">
      <ion-icon slot="icon-only" name="trash-outline"></ion-icon>
    </ion-button>
  </ion-buttons>
  <div class="post-image-container click-card" (click)="viewPost(true)">
    <img class="post-image" src="{{photoUrl}}" (error)="updateUrl($event)">
  </div>

  <ion-card-content>
    <p class="ion-text-center">
      {{content}}
    </p>
  </ion-card-content>
</ion-card>

<ion-modal [isOpen]="isModalOpen">
  <ng-template>
    <ion-header>
      <ion-toolbar>
        <ion-buttons slot="end">
          <ion-button color="primary" fill="clear" (click)="setOpen(false)">
            <ion-icon slot="icon-only" name="close"></ion-icon>
          </ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding">
      <div class="post-image-container">
        <img class="post-image" src="{{photoUrl}}" (error)="updateUrl($event)">
      </div>
      <p class="ion-text-center">
        {{content}}
      </p>
    </ion-content>
  </ng-template>
</ion-modal>